div.main_header {
	height: 100px;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
}

span.main_header {
	color: #ffffff;
	font-size: 250%;
}

span.body_text {
	font-size: 100%;
}

li.highschool{
	font-weight: bold
}

li.college{
	font-style: italic
}

h2.aboutme{
	color: red
}

h2.hobbies{
	color: orange
}

.education{
	color: yellow
}

h2.diplomas{
	color: green
}

h2.otherpages{
	color: blue
}

a.growing:hover{
	font-size: 150%
}

td.center{
	text-align: center
}

table.color, tr.tone, td.center, th {
	border: 1px solid black
}

table {
  border-collapse: collapse;
}

ol.sublist{
	list-style-type: upper-alpha
}

th{
	background-color:blue
}

tr.tone:nth-child(even) {background-color: indigo;}

tr.tone:nth-child(odd) {background-color: violet;}




.square {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.square input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.customcheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.square:hover input ~ .customcheckbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.square input:checked ~ .customcheckbox {
  background-color: #2196F3;
}

/* Create the customcheckbox/indicator (hidden when not checked) */
.customcheckbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the customcheckbox when checked */
.square input:checked ~ .customcheckbox:after {
  display: block;
}

/* Style the customcheckbox/indicator */
.square .customcheckbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* The circle */
.circle {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* Hide the browser's default radio button */
.circle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.customradiobutton {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%
}

/* On mouse-over, add a grey background color */
.circle:hover input ~ .customradiobutton {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.circle input:checked ~ .customradiobutton {
  background-color: green;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.customradiobutton:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.circle input:checked ~ .customradiobutton:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.circle .customradiobutton:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
	border-radius: 50%
}

.card{
	max-height: 2%;
	max-width: 2%;
}

.peighpal{
	max-height: 5%;
	max-width: 5%;
}

.error{
	font-weight: bold;
	color: red;
}


	

	
	


	

 



	
	