<html>
<head>
<title>Shopping for Movies</title>
</head>
<body>
<h1>MyMovies Express!</h1>
<br />
<p>Enter your e-mail address and password</p>
<form action="./logon.php" method="post">
Username: <input type="text" name="username" required><br>
Password: <input type="text" name="password" required><br>
<input type="submit" name = "login" value = "Login">
<input type="reset" name = "clear" value = "Clear">
</form>
<span class="error"><?php echo $message;?></span>
</body>
</html>
